[package]
name = "atsamd21-hal"
version = "0.2.2"
authors = ["Wez Furlong <wez@wezfurlong.org>"]
description = "HAL and Peripheral access API for ATSAMD21 microcontrollers"
keywords = ["no-std", "arm", "cortex-m", "embedded-hal"]
license = "MIT OR Apache-2.0"
repository = "https://github.com/atsamd-rs/atsamd"
readme = "README.md"
documentation = "https://atsamd-rs.github.io/atsamd/atsamd21g18a/atsamd21_hal/"

[dependencies]
cortex-m = "~0.5"
embedded-hal = "~0.2"
nb = "~0.1"
mashup = "^0.1.6"
bitfield = "~0.13"
vcell = "*"

[dependencies.jlink_rtt]
optional = true
version = "~0.1"

[dependencies.void]
default-features = false
version = "~1.0"

# Each of the supported chips is listed as an optional dependency here.
# This makes it available when the corresponding feature name is referenced.
# We use a feature named "samdFOO" to pull in the dependency named "atsamdFOO"
[dependencies.atsamd21g18a]
path = "../pac/atsamd21g18a"
version = "~0.3"
optional = true

[dependencies.atsamd21e18a]
path = "../pac/atsamd21e18a"
version = "~0.3"
optional = true

[dependencies.usb-device]
git = "https://github.com/wez/usb-device"
branch = "unsafe_atomics"
optional = true

[dev-dependencies]
panic_rtt = "~0.1"
panic-abort = "~0.3"
panic-semihosting = "~0.5"
cortex-m-semihosting = "~0.2"
cortex-m-rtfm = "~0.3"
sx1509 = "~0.2"

[features]
# This section lists our feature name to dependency mapping.  This are separated
# out so that the board support crates can reference a single feature name to
# select the appropriate chip, and to keep that separate from the dependency name
# for the `rt` feature below, which has to list out all possible optional deps.
# If we simply used feature names that matched the dependency names, enabling the
# rt feature would link all possible parts in and cause a linker error due to
# the high degree of similar symbols present in the various parts.
samd21g18a = ["atsamd21g18a"]
samd21g18a-rt = ["atsamd21g18a", "atsamd21g18a/rt"]
samd21e18a = ["atsamd21e18a"]
samd21e18a-rt = ["atsamd21e18a", "atsamd21e18a/rt"]
unproven = ["embedded-hal/unproven"]
use_rtt = ["jlink_rtt"]
usb = ["usb-device"]
