language: rust

cache: cargo

rust:
  - stable
  - nightly

env:
  - CRATE=boards/metro_m0 EXAMPLES="--example=blinky_basic --example=blinky_rtic" FEATURES="--features=unproven"   
  - CRATE=boards/metro_m4 FEATURES="--features=unproven,usb"
  - CRATE=boards/feather_m0 EXAMPLES="--example=blinky_basic --example=usb_echo --example=pwm" FEATURES="--features=unproven,usb"
  - CRATE=boards/feather_m4 FEATURES="--features=unproven"
  - CRATE=boards/gemma_m0 FEATURES="--features=unproven"
  - CRATE=boards/itsybitsy_m0 FEATURES="--features=unproven"
  - CRATE=boards/itsybitsy_m4 FEATURES="--features=unproven,usb,use_uart_debug"
  - CRATE=boards/trinket_m0 FEATURES="--features=unproven"
  - CRATE=boards/samd11_bare FEATURES="--features=unproven" BUILDMODE="--release"
  - CRATE=boards/samd21_mini FEATURES="--features=unproven"
  - CRATE=boards/arduino_mkrzero FEATURES="--features=unproven,usb"
  - CRATE=boards/arduino_nano33iot FEATURES="--features=unproven"
  - CRATE=boards/arduino_mkrvidor4000 FEATURES="--features=unproven"
  - CRATE=boards/circuit_playground_express FEATURES="--features=unproven"
  - CRATE=boards/sodaq_one FEATURES="--features=unproven"
  - CRATE=boards/sodaq_sara_aff FEATURES="--features=unproven"
  - CRATE=boards/pyportal FEATURES="--features=unproven"
  - CRATE=boards/trellis_m4 FEATURES="--features=keypad-unproven"
  - CRATE=boards/pygamer FEATURES="--features=unproven,usb,math"
  - CRATE=boards/pfza_proto1 EXAMPLES="--example=blinky_basic" FEATURES="--features=unproven"
  - CRATE=boards/serpente EXAMPLES="--example=blinky_basic --example=pwm" FEATURES="--features=unproven"
  - CRATE=boards/edgebadge FEATURES="--features=unproven"
  - CRATE=boards/xiao_m0 EXAMPLES="--example=blink --example=usb_serial" FEATURES="--features=usb"

matrix:
  allow_failures:
    - rust: nightly

before_install:
  - rustup target add thumbv6m-none-eabi
  - rustup target add thumbv7em-none-eabihf

script:
  - "cd $CRATE"
  - "cargo build ${EXAMPLES:---examples} $FEATURES $BUILDMODE"

stages:
  - test
