[package]
name = "metro_m4"
version = "0.14.2"
authors = ["Paul Sajna <sajattack@gmail.com>", "Wez Furlong <wez@wezfurlong.org>"]
description = "Board Support crate for the Adafruit Metro M4"
keywords = ["no-std", "arm", "cortex-m", "embedded-hal"]
categories = ["embedded", "hardware-support", "no-std"]
license = "MIT OR Apache-2.0"
repository = "https://github.com/atsamd-rs/atsamd"
readme = "README.md"
edition = "2021"

# for cargo flash
[package.metadata]
chip = "ATSAMD51J19A"

[dependencies.cortex-m-rt]
version = "0.7"
optional = true

[dependencies.atsamd-hal]
path = "../../hal"
version = "0.19.0"
default-features = false

[dependencies.usb-device]
version = "0.3.1"
optional = true

[dependencies.cortex-m]
version = "0.7"
features = ["critical-section-single-core"]

[dev-dependencies]
cortex-m = "0.7"
embedded-hal = "1.0"
embedded-hal-nb = "1.0"
usbd-serial = "0.2"
panic-probe = "0.3"
panic-halt = "0.2"
panic-semihosting = "0.5"
panic-rtt-target = { version = "0.1.1", features = ["cortex-m"] }
cortex-m-semihosting = "0.3"
rtt-target = { version = "0.3.0", features = ["cortex-m"] }
smart-leds = "0.3"

[dev-dependencies.ws2812-timer-delay]
version = "0.3"

[features]
# ask the HAL to enable atsamd51j support
default = ["rt", "atsamd-hal/samd51j"]
dma = ["atsamd-hal/dma"]
max-channels = ["dma", "atsamd-hal/max-channels"]
rt = ["cortex-m-rt", "atsamd-hal/samd51j-rt"]
use_semihosting = []
usb = ["atsamd-hal/usb", "usb-device"]

[[example]]
name = "blinky_basic"

[[example]]
name = "clock_out"

[[example]]
name = "neopixel_blink"

[[example]]
name = "neopixel_rainbow"

[[example]]
name = "pwm"

[[example]]
name = "serial"

[[example]]
name = "timer"

[[example]]
name = "adc"

[[example]]
name = "trng"

[[example]]
name = "usb_logging"
required-features = ["usb"]

[[example]]
name = "i2c"
required-features = ["dma"]

[[example]]
name = "spi"
required-features = ["dma"]
