[package]
name = "metro_m4"
version = "0.1.0"
authors = ["Paul Sajna <sajattack@gmail.com>", "Wez Furlong <wez@wezfurlong.org>"]
description = "Board Support crate for the Adafruit Metro M4"
keywords = ["no-std", "arm", "cortex-m", "embedded-hal"]
license = "MIT OR Apache-2.0"
repository = "https://github.com/atsamd-rs/atsamd"
readme = "README.md"
documentation = "https://atsamd-rs.github.io/atsamd/atsamd51j19a/metro_m4/"

[dependencies]
cortex-m = "~0.5"
embedded-hal = "~0.2"
nb = "~0.1"

[dependencies.cortex-m-rt]
version = "~0.6"
optional = true

[dependencies.atsamd-hal]
path = "../../hal"
version = "~0.3"
default-features = false

[dev-dependencies]
panic-halt = "~0.2"
panic-semihosting = "~0.5"
cortex-m-semihosting = "~0.3"
cortex-m-rtfm = "~0.4"
sx1509 = "~0.2"
panic_rtt = "~0.2"

[features]
# ask the HAL to enable atsamd51j19a support
default = ["rt", "atsamd-hal/samd51j19a", "atsamd-hal/samd51"]
rt = ["cortex-m-rt", "atsamd-hal/samd51j19a-rt"]

[profile.dev]
incremental = false
codegen-units = 1
debug = true
lto = false

[profile.release]
debug = true
lto = false 
opt-level = "s"
