[package]
name = "metro_m4"
version = "0.9.0"
authors = ["Paul Sajna <sajattack@gmail.com>", "Wez Furlong <wez@wezfurlong.org>"]
description = "Board Support crate for the Adafruit Metro M4"
keywords = ["no-std", "arm", "cortex-m", "embedded-hal"]
license = "MIT OR Apache-2.0"
repository = "https://github.com/atsamd-rs/atsamd"
readme = "README.md"
edition = "2018"

[dependencies]
cortex-m = "0.7"
embedded-hal = "0.2.3"

[dependencies.cortex-m-rt]
version = "0.6.13"
optional = true

[dependencies.atsamd-hal]
path = "../../hal"
version = "0.13"
default-features = false

[dependencies.usb-device]
version = "0.2"
optional = true

[dev-dependencies]
usbd-serial = "0.1"
panic-probe = "0.1.0"
panic-halt = "0.2"
panic-semihosting = "0.5"
panic-rtt-target = { version = "0.1.1", features = ["cortex-m"] }
cortex-m-semihosting = "0.3"
rtt-target = { version = "0.3.0", features = ["cortex-m"] }
cortex-m-rtic = "0.5.1"
smart-leds = "0.3"

[dev-dependencies.ws2812-timer-delay]
version = "0.3"

[features]
# ask the HAL to enable atsamd51j support
default = ["rt", "atsamd-hal/samd51j", "atsamd-hal/samd51"]
rt = ["cortex-m-rt", "atsamd-hal/samd51j-rt"]
unproven = ["atsamd-hal/unproven"]
usb = ["atsamd-hal/usb", "usb-device"]

[profile.dev]
incremental = false
codegen-units = 1
debug = true
lto = true

[profile.release]
debug = true
lto = true
opt-level = 3

# for cargo flash
[package.metadata]
chip = "ATSAMD51J19A"

[[example]]
name = "blinky_basic"

[[example]]
name = "clock_out"

[[example]]
name = "neopixel_blink"

[[example]]
name = "neopixel_rainbow"

[[example]]
name = "pwm"
required-features = ["unproven"]

[[example]]
name = "serial"

[[example]]
name = "spi"

[[example]]
name = "timer"

[[example]]
name = "adc"
required-features = ["unproven"]

[[example]]
name = "trng"

[[example]]
name = "usb_logging"
required-features = ["usb"]
