[package]
name = "metro_m4"
version = "0.6.0"
authors = ["Paul Sajna <sajattack@gmail.com>", "Wez Furlong <wez@wezfurlong.org>"]
description = "Board Support crate for the Adafruit Metro M4"
keywords = ["no-std", "arm", "cortex-m", "embedded-hal"]
license = "MIT OR Apache-2.0"
repository = "https://github.com/atsamd-rs/atsamd"
readme = "README.md"
documentation = "https://atsamd-rs.github.io/atsamd/atsamd51j19a/metro_m4/"

[dependencies]
cortex-m = "~0.6"
embedded-hal = "~0.2.3"
nb = "~0.1"

[dependencies.cortex-m-rt]
version = "~0.6.12"
optional = true

[dependencies.atsamd-hal]
path = "../../hal"
version = "~0.9"
default-features = false

[dev-dependencies]
panic-halt = "~0.2"
panic-semihosting = "~0.5"
panic_rtt = "~0.2"
cortex-m-semihosting = "~0.3"
cortex-m-rtic = "~0.5.1"
smart-leds = "0.3"

[dev-dependencies.ws2812-timer-delay]
version = "~0.3"

[dependencies.usb-device]
version = "~0.2"
optional = true

[dependencies.usbd-serial]
version = "~0.1"
optional = true

[features]
# ask the HAL to enable atsamd51j19a support
default = ["rt", "atsamd-hal/samd51j19a", "atsamd-hal/samd51"]
rt = ["cortex-m-rt", "atsamd-hal/samd51j19a-rt"]
unproven = ["atsamd-hal/unproven"]
usb = ["atsamd-hal/usb", "usb-device", "usbd-serial"]

[profile.dev]
incremental = false
codegen-units = 1
debug = true
lto = true

[profile.release]
debug = true
lto = true
opt-level = "s"

[[example]]
name = "blinky_basic"

[[example]]
name = "clock_out"

[[example]]
name = "neopixel_blink"

[[example]]
name = "neopixel_rainbow"

[[example]]
name = "pwm"
required-features = ["unproven"]

[[example]]
name = "serial"

[[example]]
name = "spi"

[[example]]
name = "timer"

[[example]]
name = "adc"
required-features = ["unproven"]

[[example]]
name = "trng"

[[example]]
name = "usb_logging"
required-features = ["usb"]
