[package]
name = "samd11_bare"
version = "0.6.0"
authors = ["Jesse Braham <jesse@beta7.io>"]
description = "Support crate for the ATSAMD11C"
keywords = ["no-std", "arm", "cortex-m", "embedded-hal"]
license = "MIT OR Apache-2.0"
repository = "https://github.com/atsamd-rs/atsamd"
readme = "README.md"
edition = "2018"

[dependencies]
cortex-m = "0.6"
embedded-hal = "0.2.3"
nb = "0.1"

[dependencies.cortex-m-rt]
version = "0.6.12"
optional = true

[dependencies.atsamd-hal]
path = "../../hal"
version = "0.13"
default-features = false

[dev-dependencies]
cortex-m-semihosting = "0.3.5"
panic-halt = "0.2"

[features]
# ask the HAL to enable atsamd11c support
default = ["rt", "atsamd-hal/samd11c"]
rt = ["cortex-m-rt", "atsamd-hal/samd11c-rt"]
unproven = ["atsamd-hal/unproven"]
use_semihosting = []

[[example]]
name = "adc"
required-features = ["unproven"]

[[example]]
name = "blinky_basic"

[[example]]
name = "pwm"
required-features = ["unproven"]

[[example]]
name = "serial"

[[example]]
name = "timer"
