[package]
name = "sodaq_one"
version = "0.6.1"
authors = ["Robert Hennig <robert.hennig@freylax.de>"]
description = "Board Support crate for the SODAQ ONE"
keywords = ["no-std", "arm", "cortex-m", "embedded-hal"]
license = "MIT OR Apache-2.0"
repository = "https://github.com/atsamd-rs/atsamd"
readme = "README.md"

[dependencies]
cortex-m = "0.6"
embedded-hal = "0.2.3"
nb = "0.1"

[dependencies.cortex-m-rt]
version = "0.6.12"
optional = true

[dependencies.atsamd-hal]
path = "../../hal"
version = "0.10"
default-features = false

[dev-dependencies]
panic-halt = "0.2"
panic-semihosting = "0.5"
cortex-m-semihosting = "0.3"

[features]
# ask the HAL to enable atsamd21g support
default = ["rt", "atsamd-hal/samd21g"]
rt = ["cortex-m-rt", "atsamd-hal/samd21g-rt"]
unproven = ["atsamd-hal/unproven"]
use_rtt = ["atsamd-hal/use_rtt"]
#usb = ["atsamd-hal/usb"]
use_semihosting = []


[profile.dev]
incremental = false
codegen-units = 1
debug = true
lto = false

[profile.release]
lto = true
opt-level = "s"
