[package]
name = "arduino_nano33iot"
version = "0.4.0"
authors = ["Gus Wynn <guswynn@gmail.com>"]
description = "Board Support crate for the Arduino Nano 33 IOT"
keywords = ["no-std", "arm", "cortex-m", "embedded-hal", "arduino"]
license = "MIT OR Apache-2.0"
repository = "https://github.com/atsamd-rs/atsamd"
readme = "README.md"
edition = "2018"

[dependencies]
cortex-m = "0.6"
embedded-hal = "0.2.3"
nb = "0.1"

[dependencies.cortex-m-rt]
version = "0.6.12"
optional = true

[dependencies.panic-halt]
version = "0.2"
optional = true

[dependencies.atsamd-hal]
path = "../../hal"
version = "0.12"
default-features = false

[dependencies.usb-device]
version = "0.2"
optional = true

[dependencies.usbd-serial]
version = "0.1"
optional = true

[dependencies.ssd1306]
version ="0.4"
features=["graphics"]

[dependencies.rand]
version = "0.7.3"
default-features = false
features = ["small_rng"]

[dev-dependencies]
embedded-graphics = "0.6.2"
st7735-lcd = "0.7.2"

[features]
# ask the HAL to enable atsamd21g support
default = ["rt", "panic_halt", "atsamd-hal/samd21g"]
rt = ["cortex-m-rt", "atsamd-hal/samd21g-rt"]
usb = ["atsamd-hal/usb", "usb-device", "usbd-serial"]
panic_halt = ["panic-halt"]
unproven = ["atsamd-hal/unproven"]
use_semihosting = []

[[example]]
name = "blinky_basic"

[[example]]
name = "usb_logging"
required-features = ["usb"]

[[example]]
name = "serial"

[[example]]
name = "i2c_ssd1306"

[[example]]
name = "spi_st7735"
